.todo-list .todo-item {
    margin-bottom: 5px;
}

.todo-list .todo-item button {
    margin-bottom: 5px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
}